* {
    box-sizing: border-box;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}

.backToPortfolio {
    padding: 15px 30px;
    background-color: rgba(255, 188, 42, 0.548);
    position: fixed;
    border-radius: 15px;
    bottom: 30px;
    right: 40px;
    color: white;
    font-size: 26px;
    transition: all .5s;
    z-index: 1000;
}
.backToPortfolio:hover {
    background-color: rgb(255, 187, 42);
}


body {
    background-color: #0b0b0b;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}
body.red {
    background-color: #690102;
}

.header {
    left: 0;
    right: 0;
    height: 100vh;
    position: absolute;
    z-index: 5;
    background: rgba(11, 11, 11, 0.3);
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-top: 35px;
}

.header__content-title {
    font-family: 'Roboto', sans-serif;
    font-size: 96px;
    line-height: 112px;
    margin-bottom: 35px;
}

.header__content-text {
    width: 285px;
    margin-bottom: 25px;
}

.header-btn {
    width: 60px;
    height: 60px;
    position: relative;
    border: 1px solid #FFF;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.header-btn::after,
.header-btn::before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 36px;
    height: 2px;
    left: 11px;
}

.header-btn::after {
    top: 15px;
}

.header-btn::before {
    bottom: 15px;
}

.header-btn span {
    display: block;
    height: 2px;
    width: 36px;
    position: absolute;
    background-color: #fff;
    top: 28px;
    left: 11px;
}

.button {
    display: inline-block;
    padding: 30px 62px;
    border: 1px solid #fff;
    transition: all .5s;
    background-color: rgba(255, 255, 255, 0.15);
    ;
}

.button:hover {
    background-color: #690102;
}

.menu {
    background-color: #000;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    transition: all .5s;
    z-index: 7;
}

.menu.active {
    left: 0;
}

.container__menu {
    position: relative;
}

.close-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 15px;
    top: 31px;
    cursor: pointer;
}

.close-btn::after,
.close-btn::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 2px;
    background-color: #fff;
    transform-origin: left;
}

.close-btn::after {
    transform: rotate(45deg);
}

.close-btn::before {
    transform: rotate(-45deg);
    bottom: -1px;
}


.menu__list {
    height: 100vh;
    display: flex;
    align-items: center;
}

.menu__list ul {
    list-style: none;
}

.menu__list a {
    font-size: 48px;
    line-height: 56px;
    font-weight: bold;
    padding: 30px 25px 14px 5px;
    border-bottom: 3px solid #b70021;
    display: inline-block;
    min-width: 400px;
    transition: all .5s;
}

.menu__list a:hover {
    border-color: #fff;
    margin-left: 30px;
}

.slider__item {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider .slick-dots button {
    width: 15px;
    height: 15px;
    background-color: #0b0b0b;
    border-radius: 50%;
    padding: 0;
    border: none;
    font-size: 0;
    cursor: pointer;
    outline: transparent;
}

.slider .slick-dots .slick-active button {
    background-color: #fff;
}

.slider .slick-dots li {
    display: inline-block;
    margin: 0 9px;
}

.slider .slick-dots {
    margin: -55px auto 0;
    position: relative;
    z-index: 6;
    max-width: 1230px;
    padding: 0 15px;
}

.statistics {
    margin: 105px 0 100px;
}

.statistics__items {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.statictics__item-title {
    position: relative;
    margin-bottom: 19px;
}

.statictics__item-title span {
    position: absolute;
    right: 35px;
    top: 40px;
}

.statistics__item-num {
    font-family: 'Roboto', sans-serif;
    font-size: 96px;
    line-height: 112px;
    margin-bottom: 7px;
}

.statistics__item-num span {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    line-height: 28px;
    margin-left: -25px;
}

.statistics__item-descr {
    color: #b70021;
}

.video {
    margin-bottom: 100px;
}

.advantages__inner-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    text-align: left;
    align-items: center;
    position: relative;
}

.advantages__title {
    font-size: 36px;
    line-height: 42px;
    color: #b70021;
    position: absolute;
    top: 0;
}

.advantages__title--bottom {
    right: 0;
    bottom: 0;
    top: auto;
}

.advantages__text {
    width: 303px;
}

.advantages__text ul {
    list-style-type: none;
    padding-left: 10px;
}

.advantages__descr {
    max-width: 570px;
    width: 100%;
}

.design__images {
    margin-bottom: 100px;
}

.design__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.design__row-item {
    max-width: 570px;
    padding-right: 15px;
}

.design__row-item-text {
    width: 450px;
    margin-left: 105px;
}

.design__row-item-num {
    color: #b70021;
}

.footer {
    background-color: #690102;
    padding: 83px 0 20px;
    text-align: center;
}

.footer-btn {
    margin-bottom: 83px;
}

.footer-btn .button:hover {
    background-color: #0b0b0b;
}

.footer__copy {
    font-weight: 700;
}

.footer__copy ul {
    list-style: none;
}

.footer__copy li {
    display: inline-block;
    padding: 0 10px;
    position: relative;
}

.footer__copy li + li::before {
    content: "|";
    position: absolute;
    left: -5px;
}


@media (max-width: 1235px) {
    .video {
        margin-bottom: 50px;
    }
    .advantages__text {
        padding-left: 20px;
    }
    .design {
        padding-bottom: 80px;
    }
    .design__images img {
        width: 100%;
    }
    .design__row {
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .design__row-item {
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .design__row-item-text {
        width: 100%;
        margin-left: 25px;
    }
    .design__content {
        display: flex;
        flex-direction: column-reverse;
        order: -1;
    }
    
}

@media (max-width: 930px) {
    .advantages {
        padding-bottom: 10px;
    }
    .advantages__inner-row {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
    }
    .advantages__inner-row--mobile .advantages__descr {
        order: -1;
        display: flex;
        flex-direction: column-reverse;
    }
 
    .advantages__descr {
        text-align: center;
    }
    .advantages__title {
        position: static;
    }
    .advantages__text {
        margin: 20px auto;
        padding-left: 0;
    }
    .design__images {
        margin-bottom: 0;
    }
    .footer__copy {
        font-size: 16px;
        line-height: 22px;
    }
    .footer__copy li + li::before {
        
    }
    
    
}

@media (max-width: 820px) {
    .statistics__items {
        display: block;
    }
    .statistics__item {
        padding: 40px 0;
        width: max-content;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .header {
        text-align: center;
    }
    .header__content-text {
        margin: 0 auto 35px;
    }  
}

@media (max-width: 600px) {
    .advantages__img img {
        width: 100%;
    }
}

@media (max-width: 470px) {
    .design__row-item-text {
        font-size: 18px;
        line-height: 22px;
        padding-right: 15px;
    }
}

@media (max-width: 413px) {
    .header__content-title {
        font-size: 70px;
        margin-bottom: 25px;
        margin-top: 20px;
        line-height: 85px;
    }
    .header__logo img {
        width: 200px;
    }
    .menu__list ul {
        width: 100%;
        text-align: center;
    }
    .menu__list a {
        font-size: 28px;
        line-height: 44px;
        padding: 19px 10px 7px 0;
        min-width: 100%;
    }
    .menu__list a:hover {
        margin-left: 0;
    }
    .video iframe {
        height: 350px;
    }
    
}
@media (max-width: 335px) {
    .advantages__text ul {
        padding-left: 0;
    }
    body {
        font-size: 20px;
        line-height: 24px;
    }
    .advantages__text {
        width: 100%;
    }
}