@media (max-width: 1175px) {
    .team__item-5 {
        bottom: 80px;
    }
    .team__item-3 {
        bottom: 230px;
    }
    .slider__item-img {
        width: 100%;
        height: 250px;
    }
    .slider {
        margin: 0;
    }
    .blog__title,
    .blog__text {
        text-align: center;
    }
}
@media (max-width: 1010px) {
    .top__inner {
        background-image: none;
        text-align: center;
    }
    .top__title,
    .top__text  {
        margin-left: auto;
        margin-right: auto;
    }
    .tools__items {
        flex-wrap: wrap;
    }
    .tools__item {
        max-width: 50%;
    }
    .tools__item-text {
        margin-bottom: 20px;
    }
    .direction__item-img {
        width: 40%;
    }
    .footer {
        position: relative;
    }
    .footer__inner {
        padding: 60px 20px 60px;
        flex-wrap: wrap;
    }
    .footer__form {
        order: -1;
        bottom: 0;
    }
    .logo__img {
        position: absolute;
        top: 10px;
        left: 30px;
    }
}
@media (max-width: 860px) {
    .header__inner {
        flex-wrap: wrap;
        height: auto;
    }
    .top__inner {
        padding-top: 60px;
    }
    .menu {
        order: 1;
        width: 100%;
        margin: auto;
    }
    .menu__list {
        justify-content: center;
        padding-right: 14px;
    }
    .direction {
        padding-bottom: 0;
    }
    .direction__item-img {
        width: 80%;
        margin: 0 auto 30px;
        order: -1;
    }
    .direction__item {
        flex-wrap: wrap;
        text-align: center;
    }
    .direction__item-content {
        margin: 0 auto;
        max-width: 100%;
        padding-right: 0;
    }
    .direction__list-item {
        text-align: left;
    }
    .team__item {
        display: none;
    }
    .team__inner {
        padding: 100px 0 100px;
    }
    .slider__item-img {
        width: 100%;
        height: 230px;
    }
}
@media (max-width: 710px) {
    .slider__item-img {
        width: 100%;
        height: 270px;
    }
    .footer__inner {
        justify-content: space-between;
    }
    .footer__form {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer__menu {
        width: 50%;
    }
    .footer__menu-title {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 28px;
    }
    .footer__menu-link {
        font-size: 14px;
        line-height: 22px;
    }
}

@media (max-width: 524px) {
    .header__inner {
        display: block;
        padding-top: 20px;
    }
    .menu__list {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #fff;
        text-align: center;
        transform: translateY(-150%);
        transition: all .7s;
    }
    .menu__list.menu__list--active {
        transform: translateY(0);
        transition: all .7s;
    }
    .menu__list-item + .menu__list-item {
        margin-left: 0;
    }
    .menu__list-item {
        display: block;
        padding: 10px 0;
    }
    .menu__btn {
        display: block;
        position: absolute;
        right: 10px;
        top: 22px;
    }
    .user-nav {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        padding-top: 30px;
    }
    .top__btn {
        margin: 0 20px 20px 0;
    }
    .tools {
        padding-top: 60px;
    }
    .top__title,
    .tools__title,
    .direction__item-title,
    .blog__title {
        font-size: 28px;
        line-height: 32px;
    }
    .tools__item {
        max-width: 100%;
        text-align: center;
        margin: auto;
    }
    .direction {
        padding-top: 60px;
    }
    .direction__item {
        margin-bottom: 60px;
    }
    .slider__item {
        text-align: center;
    }
    .slider__item-img {
        width: 100%;
        height: 230px;
        margin-bottom: 10px;
    }
    .slider__item-title {
        font-size: 22px;
        line-height: 28px;
    }
    .blog {
        padding-bottom: 60px;
    }
}

@media (max-width: 378px) {
    .top__btn {
        margin-left: 20px;
    }
}


