* {
    box-sizing: border-box;
}
.backToPortfolio {
    padding: 15px 30px;
    background-color: rgba(255, 188, 42, 0.548);
    position: fixed;
    border-radius: 15px;
    bottom: 30px;
    right: 40px;
    color: white;
    font-size: 26px;
    transition: all .5s;
    z-index: 1000;
}
.backToPortfolio:hover {
    background-color: rgb(255, 187, 42);
}


body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #544837;
    font-size: 16px;
    line-height: 26px;
}
.portfolio {
    color: coral;
    font-size: 24px;
    line-height: 28px;
    padding-left: 160px;
}
h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    background-color: #FF9900;
    border-radius: 4px;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.button, 
.button:active, 
.button:focus {
    outline: transparent;
}

.title {
    color: #2f281e;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1144px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}

.header_fixed {
    position: fixed;
    background-color: #fff;
    z-index: 20;
}

.header__logo {
    margin: 22px 0 24px;
    z-index: 20;
    position: relative;
}
.menu {
    margin-left: auto;
}
.menu__list {
    display: flex;
}

.menu__list-item + .menu__list-item {
    margin-left: 24px;
}

.menu__list-link {
    color: #2F281E;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
}

.user-nav {
    margin-left: 52px;
    margin-right: 13px;
}
.user-nav__link {
    font-weight: 600;
    font-size:16;
    line-height: 24px;
    color: #173A56;
    padding: 11px 23px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}

.user-nav__link + .user-nav__link {
    background-color: #FF9900;
    color: #FFF;
    border-color: transparent;
    padding: 11px 23px;
    margin-left: 10px;
}

.top__inner {
    padding: 133px 0 80px;
    background: url(../images/top-bg.svg) no-repeat;
    background-position: bottom right;
}

.top__title {
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    max-width: 518px;
    margin-bottom: 30px;
}

.top__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
    max-width: 450px;
}

.top__btn {
    padding: 15px 41px 14px;
    margin-right: 30px;
}

.top__link {
    color: #FF9900;
    line-height: 24px;
    display: inline-block;font-weight: 600;
    text-decoration: underline;
    padding-left: 25px;
    position: relative;
}

.top__link::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 17px;
    height: 19px;
    background-image: url(../images/play-icon.svg);
}

.tools{
    padding-top: 110px;
}

.tools__title {
    max-width: 539px;
    text-align: center;
    margin: 0 auto 46px;
    padding: 0 10px;
}

.tools__inner {
    padding-bottom: 92px;
    background: url(../images/tools-bg.svg) no-repeat;
    background-position: center bottom;
    background-size: cover;

}

.tools__items {
    display: flex;
    justify-content: space-between;
    padding: 7px 16px 0;
    margin-bottom: 60px;
}

.tools__item {
    max-width: 240px;
}

.tools__item-img {
    margin-bottom: 30px;
}

.tools__item-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 13px;
}

.tools__link {
    text-decoration: none;
    padding: 15px 30px 14px;
    background-color: #FF9900;
    display: block;
    font-weight: 700;
    border-radius: 4px;
    color: #FFF;
    width: 175px;
    margin: 0 auto;
}

.direction {
    padding: 120px 0 50px;
}

.direction__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.direction__item-content {
    max-width: 486px;
    padding: 20px 50px 0 0;
}

.direction__item-pretitle {
    margin-bottom: 3px;
}

.direction__item-title {
    margin-bottom: 22px;
}

.direction__item-subtitle {
    font-weight: 700;
    margin-bottom: 12px;
    color: #2F281E;
}

.direction__item-titletext {
    margin-bottom: 30px;
}
.direction__item-text {
    margin-bottom: 25px;
}

.direction__list {
    list-style: none;
}

.direction__list-item {
    margin-bottom: 30px;
    padding-left: 65px;
    position: relative;
}

.direction__list-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 35px;
    height: 35px;
    background-image: url('../images/check.svg');
}

.team {
    background: url(../images/team-bg.svg) no-repeat;
    background-position: center top;
    background-size: cover;
}

.team__inner {
    padding: 230px 0 380px;
    position: relative;
}

.team__box {
    text-align: center;
    max-width: 542px;
    margin: 0 auto;
}

.team__title {
    margin-bottom: 22px;
}

.team__text {
    color: #567592;
    margin-bottom: 45px;
}

.team__btn {
    padding: 15px 31px 14px 30px;
}

.team__item {
    position: absolute;
    width: 98px;
    height: 98px;
}

.team__item-1 {
    top: 157px;
    right: 95px;
}

.team__item-2 {
    top: 223px;
    left: 0;
}

.team__item-3 {
    bottom: 257px;
    right: 0;
}

.team__item-4 {
    bottom: 233px;
    left: 206px;
}

.team__item-5 {
    bottom: 135px;
    right: 364px;
}

.team__item-img {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.team__item-text {
    background-color: #fff;
    padding: 14px 20px 15px;
    color: #2F281E;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26px;
    position: absolute;
    top: -43px;
    right: 60px;
    white-space: nowrap;
}

.team__item-text.team__item-text--left {
    right: auto;
    left: 60px;
}

.team__item-text--right::after,
.team__item-text--right::before,
.team__item-text--left::before,
.team__item-text--left::after {
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
}

.team__item-text--right::after,
.team__item-text--left::after {
    width: 17px;
    height: 17px;
    bottom: -6px;
    right: 35px;
}

.team__item-text--right::before,
.team__item-text--left::before {
    width: 9px;
    height: 9px;
    bottom: -17px;
    right: 17px;
}

.team__item-text--left::after {
    left: 35px;
}

.team__item-text--left::before {
    left: 17px;
} 

.blog {
    padding: 30px 0 120px;
}

.blog__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 9px;
}

.blog__text {
    margin-bottom: 55px;
}

.slider {
    margin: 0 -20px;
}

.slider__item {
    padding: 0 20px;
}

.slider__item-img {
    width: 348px;
    height: 185px;
    object-fit: cover;
    margin-bottom: 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.slider__item-info {
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 12px;
}

.slider__item-author {
    color: #544837;
    font-weight: 700;
    outline-color: transparent;
}

.slider__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    transition: all .5s;
    display: inline-block;
    outline-color: transparent;
    margin-bottom: 84px;
}

.slider__item-title:hover {
    color: #FF9900;
}

.slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
}

.slick-dots button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    font-size: 0;
    background-color: #efefef;
    padding: 0;
    outline-color: transparent;
    margin: 0 5px;
}

.slick-dots .slick-active button {
    background-color: #FF9900;
}

.footer__inner {
    padding: 105px 0 100px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(188, 208, 229, 0.496913);;
}

.footer__menu {
    width: 135px;
}

.footer__menu-title,
.footer__form-text {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 30px;
    color: #2f281e;
}

.footer__list {
    list-style: none;
}

.footer__menu-link {
    font-size: 16px;
    line-height: 35px;
    color: #544837;
    text-decoration: none;
}

.footer__form {
    width: 330px;
}

.footer__form-input {
    width: 100%;
    height: 48px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    margin-bottom: 21px;
    padding: 0 15px;
    display: inline-block;
    outline: transparent;
}

.footer__form-input::placeholder {
    font-weight: 400;
    line-height: 28px;
    color: #BCD0E5;
}

.footer__form-btn {
    padding: 8px 15px 7px;
}

.menu__btn {
    width: 40px;
    height: 30px;
    display: none;
    z-index: 10;
}

.menu__btn span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 14px;
}

.menu__btn::after,
.menu__btn::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #000;
}

.menu__btn::after {
    top: 0;
}

.menu__btn::before {
    bottom: 0;
}